---
title: Shinra's Homepage
---

{% include_relative header.html %}
<h2>CloudStrife</h2>
<p>Nobody know what he does on CPC... And he doesn't know himself... But something will definitely come out one day. Rumours says he knows assembly language and electronics. He is fond of Final Fantasy VII.</p>

<h2>PulkoMandy</h2>
<p>Most of the CPC sceners says he is a musician. But he is also learning to code and trying to graph, from time to time. He wears strange, colourful T-Shirts and likes making (non-working) electronics boards with little blue wires everywhere. Don't ever try to open one of his CPCs if you want to stay alive!</p>

<p>Contact us on the <a href="https://web.libera.chat/#cpc-fr">#cpc-fr</a> channel on Libera.Chat.</p>

{% include_relative footer.html %}
