---
title: Shinra's Homepage
---

{% include_relative header.html %}
{% include_relative prodh.html %}
<h1>GrafX2</h1>
<p>Code: PulkoMandy</p>
<img src="http://grafx2.tk/data/medias/screenshots/01-splash.png" alt="GrafX2">
<p>GrafX2 is an old pixel painting program from the DOS era. The original authors, Sunset Design, stopped developping it and released the sourcecode into the wild. We did a port to linux and windows and we are now adding some features to the program.</p>
<p>Will run on Linux, Windows, and somewhat on AmigaOS 4 and Mac OS X. May be compiled on any platform with SDL available.</p>
<a href="http://grafx2.tk">GrafX2 homepage</a>

<h1>MO5 SDK</h1>
<p>Code : PulkoMandy & Cloudstrife</p>
<p>This is a set of tools for developping on MO5. It only fills the missing
parts between other tools. So far it contains two tools :</p>
<ul><li>gfx2mo5 : converts png pictures to the mo5 fileformat.</li>
<li>saptofd : converts sap image file (from sapfs tool for example) to fd
format (for dcmo5)</li>
</ul>
<a href="prods/MO5_SDK.zip">download</a>
{% include_relative footer.html %}
