---
title: Shinra's Homepage
---

{% include_relative header.html %}
{% include_relative prodh.html %}

<h1>The party is next weekend and no one has released an invitro yet</h1>
<p>Code: PulkoMandy</p>
<img src="pic/INVTRO.png" alt="Forever 2024 Invitation"/>

<p>It seems no one had made an Invitro for Forever 2024. The party is next week, so this is really
a "last chance" effort and an attempt to see what I can get done in just one week-end. The music
is one of my old unreleased StarKos tunes, the graphics are copied from somewhere else and the code
isn't very ambitious. But at least there's something!</p>

<a href="prods/INVTRO.zip">Download zip (DSK + plain files)</a>

<h1>1Kraftverk</h1>
<p>Everything: PulkoMandy</p>
<img src="pic/1Kraftwerk.png" alt="1Kraftwerk"/>

<p>1K prod designed for Forever 2020. The theme was robots, but the party didn't happen.
I do not plan to work more on this. If a party happens again I will do something else for it.
So I may as well release this in its current state.</p>

<a href="prods/1KRAFT.zip">Download DSK</a>

<h1>1kusai</h1>
<p>Everything: PulkoMandy</p>
<img src="pic/1kusai.png" alt="1Kusai">

<p>1K prod released at Forever 2018. The theme was "The 8 bit Atlantis", so I went with the idea
of rendering Hokusai's great wave (an appropriately watery picture) in an 1K prod, using Bezier
curves thanks to the nice float math support in the CPC firmware.</p>
<a href="prods/1kusai.zip">Download DSK</a>

<h1>ZNAX</h1>
<p>Code: PulkoMandy - Music: PulkoMandy - Graphs: CeD</p>
<img src="pic/znax.png" alt="ZNAX">
<p>For a change, a game! Work on it was started in 2008, and it was written in BASIC. But then CeD
sent me these beautiful graphics in overscan, so I had to rewrite it all in assembler. Eventually
it fills the whole 64K RAM with barely a few bytes left.</p>
<p>New version, fixes a bug where you can't select tiles after losing a gme with a tile selected.</p>
<a href="prods/znax-1.1.zip">Download DSK</a>

<h1>Bit Defender 8</h1>
<p>Code, Script, Sound: PulkoMandy</p>
<img src="pic/bitdef.png" alt="Bit Defender 8">

<p>1K BASIC prod released at Forever 16. The theme was "defender of the 8bits",
which I interpreted as making an antivirus for our 8bit machines. It is not very
good at solving the issues it finds, however.</p>
<a href="prods/bitdef8.zip">Download DSK</a>

<h1>Plasma Pas Cher</h1>
<p>Code: CloudStrife &amp; PulkoMandy - Music: PulkoMandy - Graphs: CeD &amp; PulkoMandy</p>
<img src="pic/ppc.png" alt="Plasma Pas Cher">
<p>Finally switching to assembly language ! This demo features a plasma made with a trick never used before. It was done using only real CPC hardware and software (Dams, OCP, Starkos, SFC, Parados and the Basic). No emulators or cross-dev tools were involved.</p>
<p>Will run on any CPC with floppydrive, but not on emulators !</p>
<a href="prods/ppc.zip">Download DSK</a>

<h1>Rotater Pas Cher</h1>
<p>Code: PulkoMandy - Design: PulkoMandy</p>
<img src="pic/rotater.png" alt="Rotater Pas Cher">
<p>This one is a tunnel, just to show you that Backtro was not that difficult to do. It even features a sidsound.</p>
<p>Will run on any CPC</p>
<a href="prods/rotater.zip">Download DSK</a>

<h1>Flipster</h1>
<p>Code: PulkoMandy - Design: PulkoMandy</p>
<img src="pic/flipster.png" alt="Flipster">
<p>Well, this time a real twister, but scrolling horizontally :)</p>
<p>Will run on any CPC</p>
<a href="prods/flipster.zip">Download DSK</a>

<h1>COStimus</h1>
<p>Code: PulkoMandy - Design: PulkoMandy</p>
<img src="pic/costimus.png" alt="COStimus">
<p>75 dots, 256bytes basic. Not much to say :)</p>
<p>Will run on any CPC</p>
<a href="prods/costimus.zip">Download DSK</a>

<h1>TWiSTeR.PaS.CHeR</h1>
<p>Code: PulkoMandy - Design: PulkoMandy - Cat: PulkoMandy</p>
<img src="pic/tpc.png" alt="TWiSTeR.PaS.CHeR">
<p>Shinra enters the Twister Contest with this simple "twister" written in basic. Not very impressive, but it's here :)</p>
<p>Will run on any CPC</p>
<a href="prods/tpc.zip">Download DSK</a>

<h1>RIEN</h1>
<p>Code: Cloudstrife - Gfx: Cloudstrife &amp; PulkoMandy - Zik: PulkoMandy</p>
<img src="pic/rien.png" alt="RIEN">
<p>our first "demo"! Released at Croco Channel 4 for the &amp;2007 bytes compo. This is only a cheatpart. If you want to watch it, you will need to find the correct password.</p>
<p>Will run on any CPC</p>
<a href="prods/rien.zip">Download DSK</a>
{% include_relative footer.html %}
