---
title: Shinra's Homepage
---

{% include_relative header.html %}
<h1>Tech&amp;Docs</h1>
<p>Here you'll find some technical infos about various computers. The goal is to gather useful and no tso useful informations
about them.</p>

<p>Beware : most of this doc is made from untested, unchecked data. It may happen to be right but that would be only pure chance. Tell us if you ever find any error.</p>

<h2>Amstrad CPC</h2>

<ul>
	<li><a href="crtc.html">Differences between CRTC types</a> - Created for improving the Caprice Reloaded emulator</li>
	<li><a href="condo.html">Condensateurs et filtrage analogique</a></li>
	<li><a href="gatearray.html">Comment le Gate Array g&eacute;n&egrave;re les couleurs sur CPC</a></li>
	<li><a href="ramcard.html">Inside the Ramcard</a></li>
	<li><a href="gordon.html">FlashGordon, a 512K ROM expansion for the CPC</a></li>
	<li><a href="cpc-usb.html">USB interface for CPC</a></li>
	<li><a href="albireo.html">"Albireo" interface for CPC, including the above USB interface and an high speed serial link</a></li>
	<li><a href="willy.html">"Willy", a soundcard adapter</a> for Serdaco's <a href="https://www.serdashop.com/OPL3LPT">OPL3LPT</a> and <a href="https://www.serdashop.com/S2P">S2P</a>.</li>
	<li><a href="nova.html">"Nova", an RTC and NVRAM interface for the Amstrad CPC.</a></li>
</ul>

<h2>Amstrad PCW</h2>

<p>Visit our <a href="pcw.html">Amstrad PCW</a> page, with some hardware information and hacks around this wonderful computer.</p>

<h2>Thomson machines</h2>
<p><a href="http://pulkomandy.tk/wiki">Shinra's demomaker's guide to Thomson machines</a> is the place with all the info about these French computers.</p>

{% include_relative footer.html %}
